:root {
  /* colors */
  --strong_cyan: hsl(172, 67%, 45%);
  --very_dark_cyan: hsl(183, 100%, 15%);
  --dark_grayish_cyan1: hsl(186, 14%, 43%);
  --dark_grayish_cyan2: hsl(184, 14%, 56%);
  --light_grayish_cyan1: hsl(185, 41%, 84%);
  --light_grayish_cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --danger: hsl(8, 33%, 54%);

  /* typography */
  --root_font_size: 24px;
  --font_family: 'Space Mono', sans-serif;
  --regular_weight: 400;
  --bold_weight: 700;
}
