.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 375px;
}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  .TipCalculator {
    margin-top: 3.6rem;
  }
}

/* Mobile < 1024px */
@media screen and (max-width: 1023px) {
  .Header,
  .TipCalculator {
    margin-top: 1.6rem;
  }
}
