/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: currentColor;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: 700;
}

/* variables */
:root {
  --font-size: 14px;
  --font-family: Raleway, sans-serif;
  --gradient: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
}

/* base */
html {
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-repeat: no-repeat;
  background-color: var(--very-dark-blue);
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--dark-blue);
  border-radius: 0.6rem;
  border-top-right-radius: 8rem;
  box-shadow: var(--box-shadow);
}

.actions__logo {
  margin-bottom: 2rem;
}

.actions__list {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.actions__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  background: var(--very-dark-blue);
  border-radius: 0.6rem;
}

.usage {
  background: var(--dark-blue);
  border-radius: 0.6rem;
  color: #fff;
  position: relative;
  box-shadow: var(--box-shadow);
}

.usage__text {
  margin-bottom: 0.6rem;
}

.usage__bar {
  display: flex;
  align-items: center;
  background: var(--very-dark-blue);
  height: 1.2rem;
  border-radius: 999rem;
  margin-bottom: 0.6rem;
}

.usage__bar::before {
  content: '';
  display: block;
  height: 0.8rem;
  width: 81.5%;
  background: var(--gradient);
  border-radius: 999rem;
  margin-left: 0.2rem;
}

.usage__bar::after {
  content: '';
  display: block;
  height: 0.8rem;
  width: 0.8rem;
  background: #fff;
  border-radius: 50%;
  margin-left: -0.8rem;
}

.usage__labels {
  display: flex;
  justify-content: space-between;
}

.popup {
  color: var(--very-dark-blue);
  background: #fff;
  position: absolute;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
}

.popup__text {
  text-transform: uppercase;
}

.popup__accent {
  font-size: 2rem;
  font-weight: 700;
  margin-right: 0.4rem;
}

@media screen and (min-width: 960px) {
  html {
    background-image: url(../img/bg-desktop.png);
    background-size: contain;
    background-position: bottom center;
  }

  .container {
    display: flex;
    align-items: flex-end;
  }

  .actions {
    min-width: 24rem;
    margin-right: 2rem;
    padding: 2.6rem 3rem;
  }

  .actions__item {
    cursor: pointer;
    transition: 200ms transform;
  }

  .actions__item:hover {
    transform: scale(1.06);
  }

  .usage {
    min-width: 34rem;
    padding: 2.6rem 3rem;
  }

  .popup {
    right: 3rem;
    bottom: 80%;
  }

  .popup::before {
    content: '';
    position: absolute;
    top: calc(100% - 1rem);
    right: 0;
    border-top: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-right: 1rem solid #fff;
  }
}

@media screen and (max-width: 959px) {
  html {
    background-image: url(../img/bg-mobile.png);
    background-size: cover;
    background-position: center;
  }

  .actions {
    margin-bottom: 1rem;
    padding: 2.6rem 2.4rem;
  }

  .usage {
    padding: 2.6rem 2.4rem;
  }

  .popup {
    left: 50%;
    bottom: -24%;
    transform: translateX(-50%);
  }
}
