.TipCalculator {
  display: grid;
  gap: 1.4rem;
  padding: 1.4rem;
  background-color: var(--white);
  border-radius: 1rem;
}

.TipCalculator__form {
  margin: 0.4rem 0;
}

.TipCalculator__tip-percentage {
  margin: 1.4rem 0;
}

.TipCalculator__label {
  font-size: 0.6rem;
  color: var(--dark_grayish_cyan1);
}

.TipCalculator__tip-grid {
  display: grid;
  gap: 0.8rem;
  margin-top: 0.4rem;
}

.TipCalculator__tip-grid .Input input {
  max-width: 100%;
  text-align: center;
}

.TipCalculator__results {
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  background-color: var(--very_dark_cyan);
  border-radius: 0.6rem;
}

.TipResult + .TipResult {
  margin-top: 1.4rem;
}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  .TipCalculator {
    width: 38.4rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .TipCalculator__tip-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .TipCalculator__results .Button {
    margin-top: auto;
  }
}

/* Mobile < 1024px */
@media screen and (max-width: 1023px) {
  .TipCalculator {
    width: 15.6rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .TipCalculator__form > .Input input {
    max-width: 260px;
  }

  .TipCalculator__tip-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .TipCalculator__results .Button {
    margin-top: 1.4rem;
  }
}
