*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --bg-color: #201e2b;
  --box-shadow: 0 1rem #191a23;
  --top-number-color: #e24b71;
  --bottom-number-color: #fb6087;
  --card-top-bg: #2c2c45;
  --card-bottom-bg: #34354f;
  --card-label-color: #8a89a3;
  --icon-fill: #8385a9;
  --icon-fill-hover: #fa5e83;
  --letter-spacing: 0.4rem;
  --border-radius: 0.8rem;
  --animation-duration: 502ms;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  color: var(--white);
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: url(./img/bg-stars.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/*
 * layout
 */
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  margin-bottom: 6rem;
}

/*
 * card
 */
.cards {
  display: flex;
}

.card {
  width: 10rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.top,
.bottom {
  height: 5rem;
  position: relative;
  perspective: 24rem;
}

.top {
  perspective-origin: bottom;
}

.bottom {
  perspective-origin: top;
}

.top__current,
.top__next,
.bottom__current,
.bottom__next {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5rem;
  overflow: hidden;
}

.top__current,
.top__next {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  background-color: var(--card-top-bg);
  color: var(--top-number-color);
}

.top__current:before,
.top__next:before,
.top__current:after,
.top__next:after {
  position: absolute;
  bottom: -0.4rem;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: #181925;
  border-radius: 50%;
}

.top__current:before,
.top__next:before {
  left: -0.4rem;
}

.top__current:after,
.top__next:after {
  right: -0.4rem;
}

.bottom__current,
.bottom__next {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--card-bottom-bg);
  color: var(--bottom-number-color);
}

.bottom__current:before,
.bottom__next:before,
.bottom__current:after,
.bottom__next:after {
  position: absolute;
  top: -0.4rem;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: #181925;
  border-radius: 50%;
}

.bottom__current:before,
.bottom__next:before {
  left: -0.4rem;
}

.bottom__current:after,
.bottom__next:after {
  right: -0.4rem;
}

.top__current.top__current--flip {
  animation-name: top-half-flip;
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in;
  transform-origin: center bottom;
}

.bottom__next {
  transform: rotateX(90deg);
  transform-origin: center top;
}

.bottom__next.bottom__next--flip {
  animation-name: bottom-half-flip;
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-out;
}

.top__number,
.bottom__number {
  font-size: 6rem;
}

.top__number {
  transform: translateY(1rem);
}

.bottom__number {
  transform: translateY(-4rem);
}

.card__label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: regular;
  letter-spacing: var(--letter-spacing);
  text-align: center;
  color: var(--card-label-color);
  margin-top: 1.8rem;
}

/*
 * footer
 */
.footer {
  display: flex;
  height: 16vw;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(./img/pattern-hills.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer__icon {
  cursor: pointer;
  transition: 200ms;
  fill: var(--icon-fill);
}

.footer__icon:hover {
  fill: var(--icon-fill-hover);
}

.footer__icon + .footer__icon {
  margin-left: 2rem;
}

/*
 * keyframes
 */
@keyframes top-half-flip {
  from {
    transform: rotateX(0deg);
  }

  to {
    transform: rotateX(-90deg);
  }
}

@keyframes bottom-half-flip {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

/*
 * media queries
 */
@media screen and (min-width: 768px) {
  .card-wrapper + .card-wrapper {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .countdown {
    padding-top: 6rem;
  }

  .cards {
    flex-direction: column;
  }

  .card-wrapper + .card-wrapper {
    margin-top: 2rem;
  }
}
