.CountriesGrid {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 4rem;

    &__card {
      height: 100%;
      margin: 0;
      background-color: var(--element-bg);
      box-shadow: 0 1px 3px 0 var(--border-color), 0 0 0 1px var(--border-color);
    }

    &__flag {
      height: 12rem;
      object-fit: cover;
    }

    &__name,
    &__metrics {
      color: var(--text-color) !important;
    }
  }
}
