extends ./views/layout.pug

block title
  title Frontend Mentor | IP Address Tracker

block content
  include views/mixins/card

  main.wrapper
    .top
      section.search
        h1.search__title IP Address Tracker

        form.search__form
          input.search__input(
            type='text',
            name='ip',
            placeholder='Search for any IP address or domain',
            aria-label='Search input'
          )
          button.search__button(type='submit', aria-label='Searct button')
            img.search__icon(src='./img/icon-arrow.svg', alt='')

      section.content
        h1.hidden Page content
        +card("IP address").content__ip-address
        +card("Location").content__location
        +card("Timezone").content__timezone
        +card("ISP").content__isp

    .bottom 
      #map
