/* http://getbem.com/introduction/ */

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  color: currentColor;
}

/* base */
:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --dark-gray-blue: hsl(217, 19%, 35%);
  --dark-black-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-gray-blue: hsl(210, 46%, 95%);
}

html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 11px;
}

body {
  background: var(--light-gray-blue);
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 2rem);
  padding: 1rem;
}

/* blocks and elements */
.testimonials__grid {
  display: grid;
  grid-gap: 2.2rem 3rem;
}

.testimonial {
  padding: 2rem 3.2rem;
  box-shadow: 3rem 3rem 4rem -2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.testimonial-header {
  display: flex;
  margin-bottom: 1.6rem;
}

.testimonial-header__photo {
  width: 2.4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.testimonial-header__name {
  font-size: 1rem;
}

.testimonial-header__badge {
  font-size: 0.9rem;
  opacity: 0.5;
}

.testimonial__title {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.testimonial__quote {
  opacity: 0.7;
  font-size: 1.2rem;
  line-height: 1.4;
  letter-spacing: 1.2;
}

.attribution {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution__text {
  font-size: 0.8rem;
  text-align: center;
  color: var(--dark-gray-blue);
}

.attribution__link {
  font-size: 0.8rem;
  color: var(--moderate-violet);
}

/* modifiers */
.testimonial--white {
  background: var(--white);
  color: var(--dark-gray-blue);
}

.testimonial--violet {
  background: var(--moderate-violet);
  color: var(--white);
}

.testimonial--violet .testimonial-header__photo {
  border: 0.2rem solid rgba(236, 242, 248, 0.5);
}

.testimonial--gray {
  background: var(--dark-gray-blue);
  color: var(--white);
}

.testimonial--black {
  background: var(--dark-black-blue);
  color: var(--white);
}

.testimonial--black .testimonial-header__photo {
  border: 0.2rem solid var(--moderate-violet);
}

.testimonial--quote-bg {
  background-image: url('../img/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-position: 80% 10%;
}

/* desktop */
@media screen and (min-width: 1440px) {
  .testimonials__grid {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'daniel   daniel  jonathan kira'
      'jeanette patrick patrick  kira';
  }

  .testimonial:nth-child(1) {
    grid-area: daniel;
  }

  .testimonial:nth-child(2) {
    grid-area: jonathan;
  }

  .testimonial:nth-child(3) {
    grid-area: jeanette;
  }

  .testimonial:nth-child(4) {
    grid-area: patrick;
  }

  .testimonial:nth-child(5) {
    grid-area: kira;
  }
}

/* mobile */
@media screen and (max-width: 1439px) {
  .testimonials__grid {
    max-width: 345px;
  }
}
