@import './scss/reset';
@import './scss/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: 15px;
}

body {
  background-color: $background;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 0.14rem lighten($secondary-dark, 20%);
}
