@import '../../scss/variables';

.FiltersHeader {
  &__bg {
    height: 10.6rem;
    background-color: $primary;
    background-size: cover;
    background-position: center;
  }

  &__content {
    min-height: 5.2rem;
    padding: 1rem 2.2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    background: #fff;
    margin-top: -2.6rem;
    transition: 200ms opacity;

    &--hidden {
      opacity: 0;
    }
  }

  &__tablets {
    display: flex;
    align-items: center;
  }

  &__clear-button {
    font-family: $font-family;
    font-size: 0.9rem;
    color: $primary;
    margin: 0.4rem 0 0.4rem auto;
    padding: 0.6rem 0;
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 1060px) {
  .FiltersHeader {
    &__bg {
      background-image: url('../../assets/bg-header-desktop.svg');
    }
  }
}

@media screen and (max-width: 1059px) {
  .FiltersHeader {
    &__bg {
      background-image: url('../../assets/bg-header-mobile.svg');
    }
  }
}
