include ../mixins/accountCard.pug

section.accounts
  h2.accounts__title Accounts

  .accounts__list
    +accountCard("facebook", "@nathanf", 1987, 12, true)

    +accountCard("twitter", "@nathanf", 1044, 99, true)

    +accountCard("instagram", "@realnathanf", "11k", 1099, true)

    +accountCard("youtube", "Nathan F.", 8239, 144, false)
