header.header
  .header__title
    h1.header__h1 Social Media Dashboard
    h2.header__h2 Total followers: 23,004

  .toggle
    p.toggle__label Dark mode
    button.toggle__button.active(aria-label="Theme toggle")
