.CountryContent {
  padding: 2rem 0;
  color: var(--text-color);

  .country {
    &__name {
      color: var(--text-color);
    }
  }

  .borders {
    &__button.button {
      margin-bottom: 0.25em;
      color: var(--text-color) !important;
      background-color: var(--element-bg) !important;
      box-shadow: 0 0 0 1px var(--border-color) inset;

      &:hover {
        color: var(--text-color) !important;
        background-color: var(--element-bg-hover) !important;
        box-shadow: 0 0 0 1px var(--border-color) inset;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .CountryContent {
    .country {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 4rem;

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &__columns {
        display: flex;
        justify-content: space-between;
      }
    }

    .borders {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;

      &__title {
        flex-shrink: 0;
        margin-right: 1rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .CountryContent {
    .country {
      &__name {
        margin-top: 1rem !important;
      }

      &__column {
        margin-bottom: 2rem;
      }
    }
  }
}
