@use './assets/scss/reset';
@use './assets/scss/variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: v.$bg-color;
  color: v.$text-color;
  font-family: v.$font-family;
  font-size: 18px;

  &[data-theme='light'] body {
    background-image: url('./assets/img/bg-desktop-light.jpg');
  }

  &[data-theme='dark'] body {
    background-image: url('./assets/img/bg-desktop-dark.jpg');
  }
}

body {
  background-repeat: no-repeat;
  background-size: 100% 18rem;
}

button {
  border: none;
  background-color: unset;
  padding: 0;
  margin: 0;
  font-family: v.$font-family;
  font-size: 1rem;
}

img {
  display: block;
}

@media screen and (max-width: 899px) {
  body {
    background-size: 100% 16rem;
  }
}
