.TipResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.TipResult__label {
  font-size: 0.7rem;
}

.TipResult__sublabel {
  font-size: 0.6rem;
  color: var(--dark_grayish_cyan2);
}

.TipResult__value {
  color: var(--strong_cyan);
}

/* Desktop >= 1024px */
@media screen and (min-width: 1024px) {
  .TipResult__value {
    font-size: 1.8rem;
  }
}

/* Mobile < 1024px */
@media screen and (max-width: 1023px) {
  .Header,
  .TipResult__value {
    font-size: 1.2rem;
  }
}
