/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: var(--font-regular);
  padding: 0;
  margin: 0;
  line-height: 1.4;
  color: currentColor;
}

/* styles */
html {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}

body {
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
}

.hidden {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.score {
  display: flex;
  justify-content: space-between;
  border: 0.1rem solid hsl(217, 16%, 45%);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.score__count {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 0.4rem;
}

.score__text {
  color: hsl(229, 64%, 46%);
}

.score__number {
  color: hsl(229, 25%, 31%);
  line-height: 1;
}

.section {
  min-height: 320px;
}

.section--1 {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.section--1,
.section--2 {
  display: none;
}

.section--active {
  display: grid;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 2000ms;
  opacity: 1;
}

.hand--rock {
  box-shadow: inset 0 0.4rem #ddd, 0 0.4rem hsl(349, 71%, 52%);
  border-color: hsl(349, 70%, 56%);
}

.hand--paper {
  box-shadow: inset 0 0.4rem #ddd, 0 0.4rem hsl(230, 89%, 62%);
  border-color: hsl(230, 89%, 65%);
}

.hand--scissors {
  box-shadow: inset 0 0.4rem #ddd, 0 0.4rem hsl(39, 89%, 49%);
  border-color: hsl(40, 84%, 53%);
  grid-column: span 2;
  justify-self: center;
}

.hand--winner {
  box-shadow: 0 0 6rem 6rem rgba(255, 255, 255, 0.1);
}

.hand--empty {
  opacity: 0;
}

.hand--result {
  cursor: default;
}

.picked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.picked__title {
  letter-spacing: 0.1rem;
}

.result {
  display: flex;
  overflow: hidden;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 2000ms;
}

.result--active {
  opacity: 1;
}

.result__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.result__play-again {
  background: #fff;
  text-transform: uppercase;
  border: none;
  color: hsl(229, 64%, 46%);
  padding: 0.6rem;
  width: 100%;
  border-radius: 0.6rem;
  cursor: pointer;
}

.open-rules {
  padding: 0.2rem 2rem;
  background: transparent;
  border: 0.1rem solid #fff;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: pointer;
}

.rules-modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  justify-content: center;
  align-items: center;
}

.rules-modal--active {
  display: flex;
  animation-name: modal-enter;
  animation-duration: 200ms;
}

.rules {
  background: #fff;
  color: hsl(229, 25%, 31%);
  border-radius: 0.8rem;
  padding: 2rem;
}

.rules__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.rules__title {
  font-size: 2rem;
  line-height: 1;
}

.rules__close {
  cursor: pointer;
}

@keyframes modal-enter {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* desktop */
@media screen and (min-width: 800px) {
  .score {
    width: 768px;
  }

  .score__count {
    padding: 1rem 2rem;
  }

  .score__number {
    font-size: 3rem;
  }

  .section--2 {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  .hand {
    width: 8rem;
    height: 8rem;
  }

  .hand--rock,
  .hand--paper,
  .hand--scissors {
    border-width: 1rem;
    border-style: solid;
  }

  .hand--result {
    width: 12rem;
    height: 12rem;
  }

  .hand--result .hand__image {
    width: 6rem;
  }

  .picked {
    flex-direction: column;
  }

  .picked__title {
    margin-bottom: 2rem;
  }

  .open-rules {
    margin: 6rem 2rem 0 0;
    align-self: flex-end;
  }

  .rules-modal {
    background: rgba(0, 0, 0, 0.6);
  }
}

/* mobile */
@media screen and (max-width: 799px) {
  .score {
    width: 280px;
    align-items: center;
  }

  .score__logo {
    width: 6rem;
  }

  .score__count {
    padding: 0.6rem 1.4rem;
  }

  .score__text {
    font-size: 0.8rem;
  }

  .score__number {
    font-size: 2.4rem;
  }

  .section--2 {
    max-width: 280px;
    grid-template-areas: 'player house' 'result result';
    grid-gap: 2rem;
  }

  .hand {
    width: 6rem;
    height: 6rem;
  }

  .hand--rock,
  .hand--paper,
  .hand--scissors {
    border-width: 0.6rem;
    border-style: solid;
  }

  .hand--result {
    width: 7rem;
    height: 7rem;
  }

  .hand--result .hand__image {
    width: 4rem;
  }

  .picked {
    flex-direction: column-reverse;
  }

  .picked__title {
    margin-top: 1.4rem;
    font-size: 0.8rem;
  }

  .picked--player {
    grid-area: player;
  }

  .picked--house {
    grid-area: house;
  }

  .result {
    grid-area: result;
  }

  .open-rules {
    margin-top: 2rem;
  }

  .rules-modal {
    background: #fff;
  }

  .rules {
    max-width: 280px;
  }

  .rules__image {
    width: 100%;
  }
}
