$primary: hsl(180, 29%, 50%);
$secondary: hsl(180, 8%, 52%);
$secondary-dark: hsl(180, 14%, 20%);

$background: hsl(180, 52%, 96%);
$tablet: hsl(180, 31%, 95%);

$border-radius: 0.4rem;
$box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.08);

$desktop-width: 1120px;
$mobile-width: 475px;

$font-family: Spartan, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
